<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQNl5AbSGZpwCt0CdL9-oWjvtH0LjjpME</string>
	<key>GCM_SENDER_ID</key>
	<string>797038419658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jubulus.candidate-app</string>
	<key>PROJECT_ID</key>
	<string>candidate-2edd6</string>
	<key>STORAGE_BUCKET</key>
	<string>candidate-2edd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797038419658:ios:b9cfd6498c85d71c7f5e33</string>
</dict>
</plist>